a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: url('../img/functional/backtotop.png') no-repeat center 43%;
	border-radius: 30px;
	@media screen and (min-width: $desktop-width) {
	right: 100px;
	width: 100px;
	height: 100px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	}
	&:hover{
		background-color: black;
	}
}

