
*{
 margin:0px;   
}


/* TITLES */
h1, h2, h3, h4, h5, h6, label, input, p, a {
  font-family: 'Raleway';
}
h1, h2{
  text-transform: uppercase;
  font-weight: 600;
}
h3, h4 {
  font-weight: 400;
}
h5, h6 {
  font-weight: 200;
}

/* H1 */
h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.2;
}
@media all and (min-width: 768px) {
  h1{5
    font-size: 3.5rem;  
  }
}
@media all and (min-width: 1024px) {
  h1{
    font-size: 4rem;  
  }
}
/* H2 */
h2 {
    font-size: 2rem;

}
@media all and (min-width: 768px) {
  h2{
    font-size: 2.5rem;
  }
}
@media all and (min-width: 1024px) {
  h2{
    font-size: 3rem;
  }
}
/* H3 */
h3 {
    font-size: 1.5rem;
   
}
@media all and (min-width: 768px) {
  h3{
    font-size: 2rem;
  }
}
@media all and (min-width: 1024px) {
  h3{
    font-size: 2.5rem;
  }
}
/* H4, H5, H6 */
h4, h5, h6 {
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  h4, h5, h6{
    font-size: 1.2em;
  }
}
@media all and (min-width: 1024px) {
  h4, h5, h6{
    font-size: 1.4em;
  }
}
/* TEXT ELEMENTS */
p {
  font-size: 0.8rem;
  line-height: 1.75rem;
}
@media all and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
  }

@media all and (min-width: 1024px) {
  p{
    font-size: 1rem;
  }
}

a {
  font-size: 0.8rem;
  line-height: 1.75rem;
}
@media all and (min-width: 768px) {
  a {
    font-size: 1rem;
  }
  }
@media all and (min-width: 1024px) {
  a{
    font-size: 1rem;
  }
}