nav{
	ul{
		list-style: none;
	}
} 

nav{
	a{
		text-decoration: none;
		text-transform: uppercase;
		color: black;
	}
}

nav{
	li{
		margin: 20px 5px;
	}
}

a:hover, a:focus, a:active{
	opacity: 0.5;
}

.btn-close{
	display: none;
	justify-content:flex-end;
	margin: 20px;
}

.btn-open div{
	position: absolute;
	left: 10%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.btn-open span{
	display: block;
	width: 35px;
	height: 4px;
	margin: 6px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.btn-open{
	display: flex;
	flex-direction:column;
	align-items:flex-end;
	margin: 20px 23px;
    &:hover{
    	cursor: pointer;
    }
}

.btn-close{
	display:none;
	flex-direction:column;
	align-items:flex-end;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 90px;
    box-sizing: border-box;
    margin: 0px 20px;
    &:hover{
    	cursor: pointer;
    }

}

.responsive-menu{
	display: none;
	margin-bottom: 30px;
	z-index: 2;
	min-width: 250px;
}


.expand{
	display: block !important;
}

.btn-none{
	display: none;
}

.btn-flex{
	display: flex;
}


.header{
	flex-basis:3%;

}





